<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title>Топливные карты</title>
    <th:block th:include="layout/header"></th:block>

    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"
          href="../../static/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"
          href="../../static/css/site.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"
            src="../../static/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/card.js}"
            src="../../static/js/card.js"></script>
</head>
<body class="wide hero">
<th:block th:include="layout/user"></th:block>
<div><a href="index">На главную</a></div>
<div class="fw-hero">
    <div class="hero-callout">
    <div>Карты</div>

    <table id="cardGrid">
        <thead>
        <tr>
            <th>Код карты</th>
            <th>Месячная норма</th>
            <th>Дневная норма</th>
            <th>Дневная норма сумма</th>
            <th>Статус</th>
            <th>Дата действия</th>
            <th>Водитель</th>
            <th>Номер карты</th>
            <th>Связь карты с яндекс</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</div>

<div id="driverDialog" style="display:none">
    <div class="fw-hero">
        <div class="hero-callout">
    <table id="driverGrid">
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Баланс</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </tbody>
</div>
    </div>
</div>
</body>
</html>