<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en" xmlns="http://www.w3.org/1999/html">
    <title>Аутентификация</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h2>Аутентификация</h2>
    <div>
        <form action="/login" method="post">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login"/>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password"/>
            <input type="submit">Войти</input>
        </form>
    </div>
</div>
</body>
</html>