<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <title>Логин</title>

    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../static/css/style.css"/>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/usersetting.js}"
            src="../../static/js/usersetting.js"></script>
</head>
<body>
<th:block th:include="layout/user"></th:block>
<div><a href="index">На главную</a></div>
<div>
    <form method="post" action="user-settings" id="userSettings" name="userSettings">
        <fieldset>
            <legend>Настройки БелОил</legend>
            <div><label for="userName">User name:</label>
                <input type="text" th:field="${userSettings.beloilUserCredential.userName}"
                       th:value="${{userSettings.beloilUserCredential.userName}}" id="userName" name="userName"></div>
            <div><label for="password">Пароль:</label>
                <input type="text" th:field="${userSettings.beloilUserCredential.password}"
                       th:value="${{userSettings.beloilUserCredential.password}}" id="password" name="password"></div>
            <div><label for="emitentId">emitentId:</label>
                <input type="text" th:field="${userSettings.beloilUserCredential.emitentId}"
                       th:value="${{userSettings.beloilUserCredential.emitentId}}" id="emitentId" name="emitentId"></div>
            <div><label for="contractId">contractId:</label>
                <input type="text" th:field="${userSettings.beloilUserCredential.contractId}"
                       th:value="${{userSettings.beloilUserCredential.contractId}}" id="contractId" name="contractId"></div>
        </fieldset>

        <fieldset>
            <legend>Настройки Яндекс</legend>

            <div><label for="parkId">parkId:</label>
                <input type="text" th:field="${userSettings.yandexUserCredential.parkId}"
                       th:value="${{userSettings.yandexUserCredential.parkId}}" id="parkId" name="parkId"></div>
            <div><label for="apiKey">apiKey:</label>
                <input type="text" th:field="${userSettings.yandexUserCredential.apiKey}"
                       th:value="${{userSettings.yandexUserCredential.apiKey}}" id="apiKey" name="apiKey"></div>
            <div><label for="clientId">clientId:</label>
                <input type="text" th:field="${userSettings.yandexUserCredential.clientId}"
                       th:value="${{userSettings.yandexUserCredential.clientId}}" id="clientId" name="clientId"></div>
        </fieldset>
        <fieldset>
            <legend>Настройки Времени запуска</legend>


            <p>
                <input type="radio" th:field="${userSettings.writeOffGasTime.scheduler}"
                       value="day" id="day"/>
                <label for="day">Запускать списание ежедневно</label>
            </p>
            <p>
                <input type="radio" th:field="${userSettings.writeOffGasTime.scheduler}"
                       value="week" id="week"/>
                <label for="week">Запускать списание раз в неделю</label>
            </p>
            <div class="form-group" style="display:none" id="weekDayView">
                <label>День недели</label>
                <div th:each="weekDay : ${T(by.tade.taxi.enums.WeekEnum).values()}">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:field="${userSettings.writeOffGasTime.weekEnum}" th:value="${weekDay}"
                               class="custom-control-input">
<!--                        <label class="custom-control-label" th:for="${#ids.prev('userSettings.writeOffGasTime.weekEnum')}"-->
                        <label class="custom-control-label"   th:text="${weekDay}">День недели</label>
                    </div>
                </div>
            </div>
            <p>
                <input type="radio" th:field="${userSettings.writeOffGasTime.scheduler}"
                       value="month" id="month"/>
                <label for="month">Запускать списание раз в месяц</label>
            </p>
            <p style="display:none" id="monthDayView">
                <input type="text" th:field="${userSettings.writeOffGasTime.scheduler}"
                       th:value="${userSettings.writeOffGasTime.monthDay}" id="monthDay"/>
                <label for="monthDay">Укажите день месяца</label>
            </p>
        </fieldset>
        <fieldset>
            <legend>Скидка на заправку</legend>
            <ul>
                <li th:each="discount : ${userSettings.discountGas}">
                    <div class="ui checkbox">
                        <label th:text="${discount.summ}">При заправке от : </label>
                        <input type="text" th:field="*{discount}" th:value="${discount.summ}">
                        <label th:text="${discount.percent}">BYN. Процент: </label>
                        <input type="text" th:field="*{discount}" th:value="${discount.percent}">
                    </div>
                </li>
            </ul>
        </fieldset>
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>